<div class="training-home-container" [ngClass]="{ handset: isHandset$ | async }">
  <div class="training-home-content">
    <img src="assets/svg/flag-algeria.svg" class="flag" />
    <div class="training-home-description">
      <h1>{{ 'training.home.description' | translate }}</h1>
      <button mat-raised-button class="start-training-button" color="accent" (click)="startTraining()">
        <span *ngIf="(loading$ | async) === false">{{ 'training.home.start-button' | translate }}</span>
        <mat-spinner *ngIf="(loading$ | async) === true" [diameter]="30"></mat-spinner>
      </button>
    </div>
  </div>
</div>
