<div class="app-content" [ngClass]="{ handset: isHandset$ | async }">
  <app-card>
    <span title>{{ 'random.explanation.title' | translate }}</span>
    <span subtitle>{{ 'random.explanation.content' | translate }}</span>
    <span content>
      <button mat-raised-button class="generate-button" color="primary" (click)="generate()">
        <span *ngIf="(loading$ | async) === false">{{ 'random.generate-button' | translate }}</span>
        <mat-spinner *ngIf="(loading$ | async) === true" [diameter]="20"></mat-spinner>
      </button>
    </span>
  </app-card>

  <app-translation-bloc
    *ngrxLet="sentence$; let sentence"
    [hidden]="!sentence && !(loading$ | async)"
    [sentence]="sentence"
  ></app-translation-bloc>
</div>
