:host {
  display: grid;
  grid-template-rows: auto;
}

.title {
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 12px;
}

.statistic-list-container {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(2, 1fr);
}

.statistic-image {
  margin-right: 15px;
  width: 21px;
}

.statistic-value {
  font-size: 20px;
  height: 20px;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 4px;
}

.statistic-title {
  font-size: 16px;
}
