<div class="user-profile-information-container">
  <div
    class="user-profile-information-content"
    *ngrxLet="isSmallScreen$; let isSmallScreen"
    [class.small-screen]="isSmallScreen"
  >
    <ng-container *ngrxLet="userInformation$; let user">
      <div class="user-picture" [style.background-image]="'url(' + user.picture + ')'"></div>

      <div class="user-information">
        <div>
          <div class="user-name">{{ user.name }}</div>
          <div class="user-username">{{ user.username }}</div>
        </div>

        <div class="user-created-at">
          <mat-icon>schedule</mat-icon>
          Membre depuis {{ user.createdAt | date : 'MMMM YYYY' }}
        </div>
      </div>
    </ng-container>

    <button
      mat-raised-button
      color="primary"
      class="edit-profile-button"
      [routerLink]="['/settings/account']"
    >
      <mat-icon>edit</mat-icon>
      <span class="edit-profile-button-label">{{ 'Modifier mon profil' | uppercase }}</span>
    </button>
  </div>

  <mat-divider></mat-divider>
</div>
