@use 'sass:map';
@use '@angular/material' as mat;

@mixin app-layout-theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  $color-config:    mat.get-color-config($theme);
  $is-dark-theme:   map.get($color-config, 'is-dark');

  app-layout {
    background-color: mat.get-color-from-palette($background, card);

    .app-content {
      @if $is-dark-theme == true {
        background-color: #686868;
      }
    }

  }
}
