@use 'sass:map';
@use '@angular/material' as mat;

@mixin app-layout-theme($theme) {
  $color-config:    mat.get-color-config($theme);
  $background: map-get($color-config, background);

  app-layout {
    background-color: mat.get-color-from-palette($background, background);
  }
}
