:host {
  .generate-button ::ng-deep .mat-button-wrapper {
    display: flex;
    place-content: center;
  }

  app-card ::ng-deep .mat-card-content [content] {
    display: grid;
    grid-template-rows: auto min-content;
    padding: 0 24px 16px 24px;

    .generate-button {
      width: 82px;
      height: 36px;
      justify-self: flex-end;
    }
  }
}

.app-content {
  padding: 1rem 0;

  &:not(.handset) {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  }

  &:not(.handset) .form-fields-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
  }

  &.handset .form-fields-container{
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
}

app-card {
  margin-bottom: 1.5rem;
}

.translations-container {
  display: grid;
  gap: 1.5rem;
}
