<ng-container *ngrxLet="exerciseList$;let exerciseList">
  <section *ngFor="let exercise of exerciseList">
    <header class="exercise-header">
      <h1 class="title">{{exercise.name}}</h1>
      <p class="description">{{exercise.description}}</p>
    </header>

    <div class="exercise-container">
      <button
        mat-icon-button
        class="exercise-button"
        *ngFor="let exam of exercise.exams; let examIndex = index"
        appAddClassOnClick
        classToAddOnClick="button-pressed"
        [style.left.px]="getLeftButtonPosition(examIndex)"
      ></button>
    </div>
  </section>
</ng-container>
