<ng-container *ngrxLet="exerciseList$;let exerciseList">
  <section *ngFor="let exercise of exerciseList">
    <header class="exercise-header">
      <h1 class="title">{{exercise.name}}</h1>
      <p class="description">{{exercise.description}}</p>
    </header>

    <div class="exercise-container">
      <div *ngFor="let exam of exercise.exams; let examIndex = index" class="exercise-item"
           [style.left.px]="getLeftButtonPosition(examIndex)">
        <ng-container [ngTemplateOutlet]="examIndex === 0 ? activatedButton : desactivatedButton" [ngTemplateOutletContext]="{$implicit:exam}">

        </ng-container>
      </div>
    </div>
  </section>
  <ng-template #desactivatedButton let-exam>
    <button
      mat-icon-button
      class="exercise-button"
      appAddClassOnClick
      classToAddOnClick="button-pressed"
      [matMenuTriggerFor]="menu"
      [matMenuTriggerData]="{activated: false,exam}"
    >
      <mat-icon appPreventClick svgIcon="cadena"></mat-icon>
    </button>
  </ng-template>

  <ng-template #activatedButton let-exam>
    <div class="spinner-buffer">
    </div>
    <mat-progress-spinner
      mode="determinate"
      [diameter]="100"
      [value]="50"
      [strokeWidth]="8"
      class="exercise-spinner"
      color="primary"
    ></mat-progress-spinner>
    <button
      mat-icon-button
      class="exercise-button"
      appAddClassOnClick
      classToAddOnClick="button-pressed"
      [matMenuTriggerFor]="menu"
      [matMenuTriggerData]="{activated: true,exam}"
    >
      <mat-icon appPreventClick svgIcon="home"></mat-icon>
    </button>
  </ng-template>
  <mat-menu #menu="matMenu">
    <ng-template matMenuContent let-activated="activated" let-exam="exam">
      <div class="" appStopClickPropagation>
        <div class="">
          <h1>{{exam.name}}</h1>
          <p>{{exam.description}}</p>
          <button [disabled]="!activated" mat-raised-button color="primary">{{ activated ? 'Commencer +10 XP' : 'pas encore débloqué'}}</button>
        </div>
      </div>
    </ng-template>
  </mat-menu>
</ng-container>
