$toolbar-top-height: 56px;

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

:host.page-screen-layout.small {
  margin: 0;
  padding-top: $toolbar-top-height;

  .scroll-top-button {
    bottom: 180px;
  }
}

.train-toolbar {
  height: $toolbar-top-height;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}

.scroll-top-button {
  position: fixed;
  bottom: 120px;
  right: 20px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 12px;

  &.mat-stroked-button[mat-stroked-button]:not(.mat-button-disabled[disabled]).mat-accent {
    height: 52px;
    width: 52px;
    min-width: 52px;
  }
}
