$border-width: 2px;
$border-style: solid;
$toolbar-bottom-height: 88px;

:host {
  display: flex;
  flex-direction: column;
  width: 100%;

  .mat-tab-nav-bar ::ng-deep {
    .mat-tab-links {
      height: 100%;
      justify-content: space-around;
      align-items: center;
    }

    .mat-tab-link {
      height: 54px;
      width: 54px;
      padding: 0;
      min-width: 40px;
      border-radius: 12px;
      padding: 4px;
      border-style: $border-style;
      border-width: $border-width;
    }

    .mat-ink-bar {
      display: none;
    }
  }
}

.app-content {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-rows: 0 auto;
  padding: 0 0 $toolbar-bottom-height 0;
}

.toolbar-bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 0;
  width: 100%;
  z-index: 10;
  height: $toolbar-bottom-height;
  border-top-width: $border-width;
  border-top-style: $border-style;

  .mat-tab-nav-bar {
    height: 100%;
    width: 100%;
    border-bottom: none;
  }

  .mat-icon {
    height: 50px;
    width: 50px;
    min-width: 50px;
  }
}
