<div class="app-content" [ngClass]="{ handset: isHandset$ | async }">
  <mat-card>
    <mat-card-title>{{ 'random.explanation.title' | translate }}</mat-card-title>
    <mat-card-content>
      <p>{{ 'random.explanation.content' | translate }}</p>
      <button mat-raised-button class="generate-button" color="primary" (click)="generate()">
        <span *ngIf="(loading$ | async) === false">{{ 'random.generate-button' | translate }}</span>
        <mat-spinner *ngIf="(loading$ | async) === true" [diameter]="20"></mat-spinner>
      </button>
    </mat-card-content>
  </mat-card>

  <app-translation-bloc
    *ngrxLet="sentence$; let sentence"
    [hidden]="!sentence && !(loading$ | async)"
    [sentence]="sentence"
  ></app-translation-bloc>
</div>
