:host {
  .generate-button ::ng-deep .mat-button-wrapper {
    display: flex;
    place-content: center;
  }
}

.app-content {
  padding: 1.5rem;

  &:not(.handset) {
    max-width: 50vw;
    width: 100%;
    margin: 0 auto;
  }
}

.mat-card {
  margin-bottom: 1.5rem;

  .mat-card-title {
    line-height: 28px;
  }
}

.mat-card-content {
  display: grid;
  grid-template-rows: auto min-content;

  .generate-button {
    width: 82px;
    height: 36px;
    justify-self: flex-end;
  }
}

@mixin random-theme($theme) {
  $primary: map-get($theme, primary);

  app-random .app-content {
    .mat-progress-spinner circle, .mat-spinner circle {
      stroke: mat.get-color-from-palette($primary, 50);
    }
  }
}
