@use 'sass:map';
@use '@angular/material' as mat;

@mixin card-theme($theme) {
  $color-config:    mat.get-color-config($theme);
  $is-dark-theme:   map.get($color-config, 'is-dark');
  $foreground: map-get($color-config, foreground);

  app-card .mat-card{

    @if $is-dark-theme == false {
      box-shadow: none;
      border-color: mat.get-color-from-palette($foreground, divider);

      .app-full-line-card-item {
        border-bottom-color: mat.get-color-from-palette($foreground, divider);
      }
    }

    @if $is-dark-theme == true {
      border: none;
    }
  }
}
