$border-width: 2px;
$border-style: solid;
$border-radius: 16px;

:host {
  display: block;

  .mat-card ::ng-deep .app-full-line-card-item:not(:last-child) {
    border-bottom-width: $border-width;
    border-bottom-style: $border-style;
  }
}

.mat-card {
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  border-width: $border-width;
  border-style: $border-style;
  border-radius: $border-radius;

  h2, .mat-card-subtitle {
    padding: 0 24px;
  }

  h2 {
    margin-top: 16px;
    line-height: 1.75rem;
    font-size: 1.375rem;
    letter-spacing: 0;
    font-weight: 400;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;

    &:empty {
      display: none;
    }
  }

  .mat-card-subtitle {
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.01428571em;
    line-height: 1.25rem;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;

    &:empty {
      display: none;
    }
  }
}


