<div class="title">{{ 'profile.stats.title' | translate }}</div>

<app-card>
  <div content>
    <ng-container *ngFor="let item of items; let i = index; let isFirst = first">
      <app-full-line-card-item *ngIf="i < maxItems" [item]="item"></app-full-line-card-item>
    </ng-container>

    <app-full-line-card-button [routerLink]="['/settings/profile/success']" *ngIf="hasMoreItems">
      <span label class="show-all-label">{{ 'profile.stats.show-all' | translate }}</span>
      <mat-icon suffix>keyboard_arrow_right</mat-icon>
    </app-full-line-card-button>
  </div>
</app-card>
