:host {
  overflow: auto;

  app-card ::ng-deep .mat-card-content [content]{
    display: grid;
    grid-template-rows: auto min-content;
    padding: 0 24px 16px 24px;

    .generate-button {
      width: 82px;
      height: 36px;
      justify-self: flex-end;
    }
  }

  .generate-button ::ng-deep .mat-button-wrapper {
    display: flex;
    place-content: center;
  }
}

.app-content {
  padding: 1rem 0;

  &:not(.handset) {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  }
}

app-card {
  margin-bottom: 1.5rem;
}

