:host {
  app-card ::ng-deep .mat-card {
    padding: 24px;

    h2 {
      margin: 0;
    }

    .mat-card-subtitle {
      padding: 0;
    }

    .mat-card-content {
      margin-bottom: 0;
    }
  }

  app-card, app-toolbar ::ng-deep .mat-toolbar {
    padding: 0 8px;
    box-sizing: border-box;
  }
}

app-toolbar [content]{
  display: flex;
  align-items: center;
}

app-toolbar [content], app-card{
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

app-card{
  margin-top: 24px;
}
