<mat-card [ngClass]="{ handset: isHandset$ | async }">
  <mat-card-title>
    <app-translation-header
      [sourceLanguage]="sourceLanguage"
      [targetLanguage]="targetLanguage"
      (languagesSwapped)="swapLanguages()"
    ></app-translation-header>
  </mat-card-title>

  <mat-divider *ngIf="isHandset$ | async"></mat-divider>

  <mat-card-content>
    <app-translation-content [content]="sourceContent"></app-translation-content>
    <app-translation-content [content]="targetContent"></app-translation-content>
  </mat-card-content>
</mat-card>
