@use 'sass:map';
@use '@angular/material' as mat;

@mixin train-button-theme($theme) {
  $primary: map-get($theme, primary);
  $color-config: mat.get-color-config($theme);
  $is-dark-theme: map.get($color-config, 'is-dark');
  $foreground: map-get($theme, foreground);
  $background: map.get($color-config, background);

  app-train-button {
    .spinner-buffer {
      @if $is-dark-theme == false {
        border-color: rgb(229, 229, 229);
      }

      @if $is-dark-theme == true {
        border-color: rgb(55, 70, 79);
      }
    }

    @if $is-dark-theme == false {
      .exercise-button.train-button-locked .mat-icon svg path {
        fill: rgb(175, 175, 175);
      }

      .exercise-button.train-button-locked {
        background-color: rgb(229, 229, 229);
        color: rgb(229, 229, 229);
      }
    }

    @if $is-dark-theme == true {
      .exercise-button.train-button-locked .mat-icon svg path {
        fill: rgb(82, 101, 109);
      }

      .exercise-button.train-button-locked {
        background-color: rgb(55, 70, 79);
        color: rgb(55, 70, 79);
      }
    }
  }
}
