<div class="train-button-container" cdkOverlayOrigin #triggerOverlay="cdkOverlayOrigin">
  <ng-container *ngIf="data.isCurrentExam">
    <div class="current-message-container" *ngIf="(menuOpened$ | async) === false">
      <div class="current-message">{{ data.button.floatingLabel }}</div>
      <div class="current-message-arrow-container">
        <div class="current-message-arrow"></div>
      </div>
    </div>
    <div class="spinner-buffer"></div>
    <mat-progress-spinner
      mode="determinate"
      [diameter]="100"
      [value]="data.button.progress"
      [strokeWidth]="8"
      class="exercise-spinner"
      color="primary"
    ></mat-progress-spinner>
  </ng-container>

  <button
    mat-icon-button
    class="exercise-button"
    (click)="openMenu()"
    appIsButtonPressed
    #button="appIsButtonPressed"
    [class.button-pressed]="button.isPressed$ | async"
    [style.left]="'calc(50% + ' + data.button.offsetX + 'px)'"
  >
    <mat-icon [svgIcon]="data.button.icon"></mat-icon>
  </button>
</div>

<ng-template
  contextMenu
  let-isCurrentExam="isCurrentExam"
  let-buttonData="button"
  let-contextMenuData="contextMenu"
>
  <div
    class="context-menu"
    appStopClickPropagation
    [class.activated]="isCurrentExam"
    [@openClose]="(menuOpened$ | async) ? 'open' : 'closed'"
  >
    <div class="menu-arrow-container top" [style.margin-left.px]="buttonData?.offsetX">
      <div class="menu-arrow"></div>
    </div>
    <h1 class="menu-title">{{ contextMenuData?.title }}</h1>
    <p class="menu-description">{{ contextMenuData?.description }}</p>
    <button
      class="context-button-action"
      [disabled]="contextMenuData?.disabled"
      mat-raised-button
      color="primary"
    >
      {{ contextMenuData?.buttonLabel }}
    </button>
    <div class="menu-arrow-container bottom" [style.margin-left.px]="buttonData?.offsetX">
      <div class="menu-arrow"></div>
    </div>
  </div>
</ng-template>
