$shadow-height: 8px;
$button-height: 57px;
$button-width: 70px;

:host {
  display: block;
  position: relative;

  .exercise-button ::ng-deep .mat-button-wrapper {
    position: relative;
    z-index: -1;
  }

  .mat-progress-spinner ::ng-deep circle {
    stroke: rgb(255, 200, 0);
  }
}

.train-button-container {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: $shadow-height + $button-height;
  min-width: $button-width;
}

.exercise-button {
  width: 70px;
  height: $button-height;
  z-index: 3;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - $shadow-height/2);
  transform: translateY(-50%) translateX(-50%);

  &:not(.button-pressed) {
    box-shadow: 0 $shadow-height 0 rgb(0, 0, 0, 0.2), 0 8px 0 rgb(229, 229, 229);
  }

  &.button-pressed {
    margin-top: $shadow-height;
  }

  .mat-icon {
    width: 40px;
    height: 40px;
    line-height: 65px;
  }
}

.exercise-spinner {
  position: relative;
  z-index: 2;
}

.spinner-buffer {
  position: absolute;
  width: 84px;
  height: 84px;
  z-index: 1;
  border-style: solid;
  border-width: 8px;
  border-radius: 50%;
}

.context-menu {
  display: flex;
  flex-direction: column;
  width: 295px;
  gap: 8px;
  border-radius: 15px;
  padding: 16px;

  .menu-title,
  .menu-description {
    font-size: 19px;
    line-height: 26px;
    margin: 0;
  }

  .menu-title {
    font-weight: 700;
  }

  .menu-arrow-container {
    position: absolute;
    width: 20px;
    height: 10px;
    overflow: hidden;
    margin: 0 15px;
    left: calc(50%);
    transform: translateX(-50%);

    &.top {
      top: -10px;
    }

    &.bottom {
      bottom: -10px;
      transform: translateX(-50%) rotate(180deg);
    }

    .menu-arrow {
      box-sizing: border-box;
      position: absolute;
      border-width: 2px;
      border-style: solid;
      border-radius: 2px;
      content: '';
      height: 14.14427px;
      left: 50%;
      transform: translateZ(0) rotate(45deg);
      transform-origin: top left;
      width: 14.14427px;
    }
  }

  &.activated {
    color: rgb(255, 255, 255);
    background-color: rgb(88, 204, 2);

    .menu-arrow {
      background-color: rgb(88, 204, 2);
      border-color: rgb(88, 204, 2);
    }

    .context-button-action {
      background-color: transparent;
      border-color: transparent;
      color: rgb(88, 204, 2);
    }

    .context-button-action::after {
      background-color: rgb(255, 255, 255);
      border-radius: 12px;
      bottom: 0;
      box-shadow: 0 4px 0;
      color: rgba(255, 255, 255, 0.7);
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
    }
  }
}

@keyframes moveUpDown {
  0% {
    top: -26px; /* Starting position */
  }
  50% {
    top: -36px; /* Middle position (change the value as needed) */
  }
  100% {
    top: -26px; /* Ending position */
  }
}

.current-message-container {
  position: absolute;
  border-width: 2px;
  border-style: solid;
  border-radius: 15px;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 4;
  overflow: visible;
  animation: moveUpDown 1.5s linear infinite;

  .current-message {
    color: rgb(88, 204, 2);
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1;
    padding: 12px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
  }

  .current-message-arrow-container {
    position: absolute;
    width: 20px;
    height: 10px;
    overflow: hidden;
    margin: 0 15px;
    top: calc(100%);
    left: calc(50% - 15px);
    transform: translateX(-50%) rotate(180deg);

    .current-message-arrow {
      box-sizing: border-box;
      position: absolute;
      border-width: 2px;
      border-style: solid;
      border-radius: 2px;
      content: '';
      height: 14.14427px;
      left: 50%;
      transform: translateZ(0) rotate(45deg);
      transform-origin: top left;
      width: 14.14427px;
    }
  }
}
