<div class="train-button-container">
  <app-train-button-tooltip
    [data]="tooltip"
    [offsetX]="offsetX"
    *ngIf="tooltip"
  ></app-train-button-tooltip>

  <ng-container *ngIf="progress !== undefined">
    <div class="spinner-buffer" [style.left.px]="offsetX"></div>
    <mat-progress-spinner
      [style.left.px]="offsetX"
      mode="determinate"
      [diameter]="100"
      [value]="progress"
      [strokeWidth]="8"
      class="exercise-spinner"
      color="primary"
    ></mat-progress-spinner>
  </ng-container>

  <button
    mat-icon-button
    class="exercise-button"
    (click)="openMenu()"
    appIsButtonPressed
    #button="appIsButtonPressed"
    [class.train-button-locked]="appearance === 'locked'"
    [class.button-pressed]="button.isPressed$ | async"
    [style.left]="'calc(50% + ' + offsetX + 'px)'"
    [style.background-color]="background"
    [style.color]="background"
  >
    <mat-icon [svgIcon]="icon"></mat-icon>
  </button>
</div>
