$shadow-height: 8px;
$button-height: 57px;
$button-width: 70px;

:host {
  display: block;
  position: relative;

  .exercise-button ::ng-deep .mat-button-wrapper {
    position: relative;
    z-index: -1;
  }

  .mat-progress-spinner ::ng-deep circle {
    stroke: rgb(255, 200, 0);
  }
}

.train-button-container {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: $shadow-height + $button-height;
  min-width: $button-width;
}

.exercise-button {
  width: 70px;
  height: $button-height;
  z-index: 3;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - $shadow-height/2);
  transform: translateY(-50%) translateX(-50%);

  &:not(.button-pressed) {
    box-shadow: 0 $shadow-height 0 rgb(0, 0, 0, 0.2), 0 8px 0;
  }

  &.button-pressed {
    margin-top: $shadow-height;
  }

  .mat-icon {
    width: 40px;
    height: 40px;
    line-height: 65px;
  }
}

.exercise-spinner {
  position: relative;
  z-index: 2;
}

.spinner-buffer {
  position: absolute;
  width: 84px;
  height: 84px;
  z-index: 1;
  border-style: solid;
  border-width: 8px;
  border-radius: 50%;
}
