@use 'sass:map';
@use '@angular/material' as mat;

@mixin translation-training-response-theme($theme) {
  $primary: map-get($theme, primary);

  $foreground: map-get($theme, foreground);
  $divider-color: mat.get-color-from-palette($foreground, divider);

  app-translation-training-response .response-container {
    .given-response-container {
      border-top-color: $divider-color;
      border-bottom-color: $divider-color;
    }

    .mat-standard-chip {
      border-color: $divider-color;
      box-shadow: 0 2px 0 $divider-color;
    }

    .mat-standard-chip::after {
      background: map.get($primary, A400)
    }
  }
}

