<app-profile-card>
  <span title>{{ 'profile.stats.title' | translate }}</span>

  <div content>
    <div *ngFor="let success of successList">
      <app-full-line-card-item [item]="success"></app-full-line-card-item>
      <mat-divider></mat-divider>
    </div>

    <app-full-line-card-button [routerLink]="['/success']">
      <div label>{{ 'profile.stats.show-all' | translate }}</div>
      <mat-icon suffix>keyboard_arrow_right</mat-icon>
    </app-full-line-card-button>
  </div>
</app-profile-card>
