<div class="overview-container" *ngrxLet="isHandset$; let handset" [ngClass]="{ handset }">
  <div class="overview-content">
    <img src="assets/svg/flag-algeria.svg" class="flag" />
    <div class="overview-description">
      <h1>{{ 'overview.description' | translate }}</h1>
      <div class="overview-actions-container">
        <button
          mat-raised-button
          class="start-presentation-button"
          color="accent"
          (click)="startPresentation()"
          *ngrxLet="loading$; let isLoading"
        >
          <span *ngIf="!isLoading">{{ 'overview.start-button' | translate }}</span>
          <mat-spinner *ngIf="isLoading" [diameter]="30"></mat-spinner>
        </button>

        <button mat-stroked-button class="already-have-account-button" [routerLink]="['/sign-in']">
          <span>{{ 'overview.already-have-account' | translate }}</span>
        </button>
      </div>
    </div>
  </div>
</div>
