:host{
  display: grid;
  grid-template-columns: 1fr;

  .restart-training-button ::ng-deep .mat-button-wrapper {
    display: flex;
    place-content: center;
  }

  .skip-training-button:hover:not(.mat-button-disabled) ::ng-deep {
    .mat-button-wrapper {
      text-decoration: underline;
    }

    .mat-button-focus-overlay {
      opacity: 0;
    }
  }
}


.training-result-container {
  display: grid;
  background-image: url(/assets/svg/star.svg);

  &.handset {
    place-items: center;

    .training-result-content {
      display: grid;
      grid-template-rows: min-content min-content;
      row-gap: 4.25rem;
      place-items: center;
      padding: 0 24px;
      margin-bottom: 70px;

      .flag {
        width: 120px;
        border-radius: 30px;
        border-width: 4px;
        border-style: solid;
      }

      h1 {
        margin-bottom: 50px;
      }
    }
  }

  &:not(.handset) {

    .training-result-content {
      display: grid;
      grid-template-columns: min-content auto;
      place-items: center;
      padding: 0 60px;
      max-width: 65vw;
      margin: 0 auto;

      .flag {
        width: 280px;
        border-radius: 30px;
        border-width: 4px;
        border-style: solid;
      }

      .training-result-description {
        margin: auto 60px;
      }
    }
  }

  .training-result-description {
    text-align: center;

    h1 {
      font-weight: 700;
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 40px;
    }

    button {
      height: 50px;
      width: 320px;
      border-radius: 16px;

      .mat-spinner {
        height: 38px;
        width: 38px;
      }
    }

    .training-result-score {
      display: block;
      margin: 100px 0;
      font-size: 80px;
    }
  }

}

