<mat-sidenav-container class="sidenav-container" *ngrxLet="isHandset$; let isHandset">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="isHandset ? 'over' : 'side'"
    [opened]="isHandset === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list class="menu-items">
      <a
        mat-list-item
        *ngFor="let route of routes"
        [routerLink]="['/' + route.path]"
        routerLinkActive="router-link-active"
        (click)="isHandset && drawer.close()"
      >
        {{ route.data?.title || '' | translate }}</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" *ngrxLet="isDarkMode$; let isDarkMode">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="toolbar-title" [ngClass]="{ handset: isHandset }">{{ routeTitle }}</span>

      <mat-slide-toggle
        type="button"
        aria-label="Toggle theme mode"
        mat-icon-button
        [checked]="isDarkMode"
        (toggleChange)="toggleThemeMode()"
        #slideToggle
      >
        <mat-icon [class]="slideToggle.checked ? 'dark-mode' : ''">bedtime</mat-icon>
      </mat-slide-toggle>
    </mat-toolbar>

    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
