<ng-container *ngIf="showTrainingHome$ | async">
  <app-training-presentation-overview></app-training-presentation-overview>
</ng-container>

<ng-container *ngIf="showTraining$ | async">
  <app-translation-training
    *ngrxLet="sentences$; let sentences"
    [skipTraining]="true"
    [sentences]="sentences"
    (stepChanged)="onStepChange($event)"
    (trainingEnded)="onTrainingEnd($event)"
    (trainingCanceled)="onTrainingCancel()"
  >
  </app-translation-training>
</ng-container>

<ng-container *ngIf="showTrainingResult$ | async">
  <app-training-presentation-result
    *ngrxLet="result$; let result"
    [result]="result"
  ></app-training-presentation-result>
</ng-container>
