<ng-container *ngIf="showOverview$ | async">
  <app-overview></app-overview>
</ng-container>

<ng-container *ngIf="showPresentation$ | async">
  <app-presentation
    *ngrxLet="presentationExamId$; let presentationExamId"
    [presentationExamId]="presentationExamId"
  ></app-presentation>
</ng-container>

<ng-container *ngIf="showResult$ | async">
  <app-presentation-result
    *ngrxLet="result$; let result"
    [result]="result"
  ></app-presentation-result>
</ng-container>

<ng-container *ngIf="showLoader$ | async">
  <mat-spinner [diameter]="80"></mat-spinner>
</ng-container>
