<ng-container *ngIf="showOverview$ | async">
  <app-overview></app-overview>
</ng-container>

<ng-container *ngIf="showPresentation$ | async">
  <ng-container *ngrxLet="presentationExamCopy$; let presentationExamCopy">
    <app-presentation [presentationExamCopy]="presentationExamCopy"></app-presentation>
  </ng-container>
</ng-container>

<ng-container *ngIf="showResult$ | async">
  <app-presentation-result
    *ngrxLet="result$; let result"
    [result]="result"
  ></app-presentation-result>
</ng-container>

<ng-container *ngIf="showLoader$ | async">
  <mat-spinner [diameter]="80"></mat-spinner>
</ng-container>
