<div class="training-home-container" *ngrxLet="isHandset$; let handset" [ngClass]="{ handset }">
  <div class="training-home-content">
    <img src="assets/svg/flag-algeria.svg" class="flag" />
    <div class="training-home-description">
      <h1>{{ 'training.home.description' | translate }}</h1>
      <button
        mat-raised-button
        class="start-training-button"
        color="accent"
        (click)="startTraining()"
        *ngrxLet="loading$; let isLoading"
      >
        <span *ngIf="!isLoading">{{ 'training.home.start-button' | translate }}</span>
        <mat-spinner *ngIf="isLoading" [diameter]="30"></mat-spinner>
      </button>
    </div>
  </div>
</div>
