.app-content {
  padding: 1.5rem;

  &:not(.handset) {
    max-width: 50vw;
    width: 100%;
    margin: 0 auto;
  }
}

.mat-card {
  margin-bottom: 1.5rem;
}

.mat-card-content {
  display: grid;
  grid-template-rows: auto min-content;

  button {
    width: fit-content;
    justify-self: flex-end;
  }
}
.example-form-field {
  width: 200px;
}

.translations-container {
  display: grid;
  gap: 1.5rem;
}
