<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-nav-list role="list">
      <a
        mat-list-item
        role="listitem"
        *ngFor="let item of items"
        [routerLink]="[item.link]"
        routerLinkActive="active"
        #rla="routerLinkActive"
      >
        <mat-icon [ngClass]="{ 'material-icons-outlined': item.icon.includes('outline') }">{{
          item.icon
        }}</mat-icon>
        <span class="item-label">{{ item.label }}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="sidenav-content">
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<div class="toolbar-shadow-container">
  <div class="toolbar-shadow" #shadow></div>
</div>
