:host {
  position: relative;
  display: grid;
  grid-template-rows: auto 0;
  height: 100%;
  overflow: auto;

  .mat-list-item ::ng-deep .mat-ripple {
    border-radius: 0 50px 50px 0;
  }
}

.mat-drawer-container {
  overflow: auto;
  background-color: transparent;
}

.mat-drawer-content {
  overflow: auto;


  .sidenav-content {
    overflow: auto;
    max-width: 1120px;
    padding-left: 48px;
    padding-right: 48px;
    margin: 0 auto;

    .content {
      max-width: 840px;
    }
  }
}

.mat-drawer-side {
  width: 250px;
  border: none;
  position: fixed;
  top: 70px;
}

.mat-nav-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 4px;
  padding-top: 24px;
}

.mat-list-item {
  height: 56px;
  border-radius: 0 50px 50px 0;
  border: 2px solid transparent;

  .mat-icon {
    padding-right: 16px;
  }

  .label {
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.00714286em;
    line-height: 1.25rem;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
    flex: 1 1 0;
  } 
}

.toolbar-shadow-container {
  height: 15px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;

  .toolbar-shadow {
    height: 15px;
    position: absolute;
    top: -15px;
    transition: box-shadow .25s;
    width: 100%;
    z-index: 1;

    &.shadow {
      background-color: #fff;
    }
  }
}