<mat-card [ngClass]="{ handset }">
  <mat-card-title>
    <mat-form-field appearance="outline">
      <mat-select [value]="sourceLanguage">
        <mat-option [value]="sourceLanguage">{{ sourceLanguage.label | translate }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-icon [svgIcon]="'arrow-right'"></mat-icon>

    <mat-form-field appearance="outline">
      <mat-select [value]="targetLanguage">
        <mat-option [value]="targetLanguage">{{ targetLanguage.label | translate }}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-title>
  <mat-divider *ngIf="handset"></mat-divider>
  <mat-card-content>
    <textarea matInput [value]="sentence.fr_value | capitalize" disabled></textarea>
    <textarea matInput [value]="sentence.dz_value | capitalize" disabled></textarea>
  </mat-card-content>
</mat-card>
