:host {
  .mat-form-field-appearance-outline {
    font-size: 0.9rem;

    ::ng-deep {
      .mat-form-field-flex {
        height: 2.5rem;
      }

      .mat-form-field-wrapper {
        padding-bottom: 0;
      }

      .mat-form-field-infix {
        padding: 0.125rem 0;
        width: 100%;
      }

      .mat-select-arrow-wrapper {
        transform: none;
      }
    }
  }

  .mat-card.handset ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: transparent;
  }
}

.mat-form-field {
  width: 100%;
}

.mat-card {
  .mat-card-title {
    display: grid;
    grid-template-columns: auto 2rem auto;
  }

  &.handset .mat-card-content {
    display: grid;
    grid-template-rows: max-content;
    margin-top: 1rem;
    row-gap: 0.5rem;
  }

  &:not(.handset) .mat-card-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}

textarea {
  resize: none;
  height: 7rem;
  padding: 0.625rem 0.5rem;
  font-size: 1.125rem;
  color: inherit;
  border-color: transparent;
  border-radius: 0.375rem;
  background-color: #f8f9fa;
}
