@mixin sign-in-theme($theme) {
  $background: map-get($theme, background);
  $primary: map-get($theme, primary);

  app-sign-in-page {
    background-color: mat.get-color-from-palette($background, card);

    .already-have-account span,
    .no-account-yet span {
      color: mat.get-color-from-palette($primary, 500);
    }
  }
}