:host {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
}

.mat-icon-button {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 1;
}

.mat-card {
  max-width: 500px;
  margin: 40px auto;
  padding: 30px;

  .mat-card-header {
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 24px;

    h1 {
      font-size: 26px;
      margin: 10px 0 15px;
      font-weight: 700;
    }
  }

  .already-have-account,
  .no-account-yet {
    font-weight: 700;
    margin-top: 20px;
    text-align: center;

    span {
      cursor: pointer;
    }
  }
}