.mat-toolbar {
  background: transparent;
  max-width: 1140px;
  margin: 0 auto;
}

.toolbar-top-right {
  display: flex;
  width: 100%;
  flex: 1;

  &.mobile {
    justify-content: space-between;
  }

  &.desktop {
  justify-content: flex-end;
  }
}

.user-picture {
  height: 100%;
  border-radius: 50%;
}

app-training-toolbar-links {
  column-gap: 24px;
}
