<mat-toolbar *ngrxLet="isMobile$; let mobile">
  <ng-container *ngIf="mobile; else desktopToolbar">
    <div class="toolbar-top-right mobile">
      <button mat-icon-button [routerLink]="['/profile']">
        <img [src]="userImage$ | async" class="user-picture" />
      </button>

      <app-theme-mode-toggle></app-theme-mode-toggle>
    </div>
  </ng-container>

  <ng-template #desktopToolbar>
    <nav mat-tab-nav-bar>
      <a
        mat-tab-link
        *ngFor="let tab of links"
        [routerLink]="[tab.link]"
        routerLinkActive="active"
        #rla="routerLinkActive"
        [active]="rla.isActive"
        [disableRipple]="true"
      >
        <mat-icon [svgIcon]="rla.isActive ? tab.activeImage : tab.image"></mat-icon>
        <span *ngIf="(isMobile$ | async) === false">{{
          'training.training-toolbar-links.' + tab.label | translate
        }}</span>
      </a>
    </nav>

    <div class="toolbar-top-right desktop">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <img [src]="userImage$ | async" class="user-picture" />
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/profile']">
          <mat-icon>face</mat-icon>
          <span>Mon compte</span>
        </button>
        <button mat-menu-item appStopClickPropagation>
          <app-theme-mode-toggle [icon]="false"></app-theme-mode-toggle>
        </button>
        <button mat-menu-item (click)="signOut()" *ngIf="isAuthenticated$ | async">
          <mat-icon>logout</mat-icon>
          Déconnexion
        </button>
      </mat-menu>
    </div>
  </ng-template>
</mat-toolbar>
<mat-divider></mat-divider>
