@use 'sass:map';
@use '@angular/material' as mat;

@mixin training-toolbar-top-theme($theme) {
  $config: mat.get-color-config($theme);
  $primary: map.get($config, primary);

  app-training-toolbar-top {
    .active span {
      color: mat.get-color-from-palette($primary, 500);
    }

    .mat-tab-link {
      color: #AFAFAF;
    }
  }
}
