<ng-container *ngrxLet="isHandset$; let handset">
  <app-card [ngClass]="{ handset }">
    <div title>
      <app-translation-header
        [sourceLanguage]="sourceLanguage"
        [targetLanguage]="targetLanguage"
        (languagesSwapped)="swapLanguages()"
      ></app-translation-header>
    </div>
    <mat-divider subtitle *ngIf="handset"></mat-divider>
    <div content>
      <app-translation-content [content]="sourceContent"></app-translation-content>
      <app-translation-content [content]="targetContent"></app-translation-content>
    </div>
  </app-card>
</ng-container>
