<div class="alternative-divider">
  <mat-divider></mat-divider>
  <span>{{ 'sign-up.alternative-divider-label' | translate }}</span>
  <mat-divider></mat-divider>
</div>

<div class="alternative-actions-container">
  <button mat-stroked-button class="alternative-login-button" (click)="signInWithTwitter()">
    <mat-icon [svgIcon]="'twitter'"></mat-icon>
    Twitter
  </button>

  <button mat-stroked-button class="alternative-login-button" (click)="signInWithGoogle()">
    <mat-icon [svgIcon]="'google'"></mat-icon>
    Google
  </button>
</div>
