:host {
  display: block;
}

.mat-card{
  padding: 12px 24px;
  border:none;
}

.success-title {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  margin-bottom: 0.5rem;

  h2 {
    font-weight: 400;
    letter-spacing: 0.01785714em;
    line-height: 1.25rem;
    margin-bottom: 0;
  }

  .mat-card-title{
    margin-bottom: 0;
  }
}

.mat-progress-bar {
  width: 100%;
  height: 14px;
  border-radius: 25px;
}
.success-progress{
  display:flex;
  float:right;
  font-size: 17px;
  color: #afafaf;
}
.success-title-wrapper{
  display:flex;
  justify-content:space-between;
}
.success-description{
  font-size: 17px;
  color: #afafaf;
  margin-top:10px;
}
