<header
  *ngrxLet="isSmallScreen$; let isSmallScreen"
  class="exercise-header"
  [class.small-screen]="isSmallScreen"
  [style.background-color]="headerBackgroundColor"
>
  <h1 class="title">{{ course.name }}</h1>
  <p class="description">{{ course.description }}</p>
</header>

<div class="exercise-container">
  <ng-container *ngFor="let button of buttonList">
    <app-train-button
      #trainButton="trainButton"
      [appearance]="button.appearance"
      [background]="button.background"
      [offsetX]="button.offsetX"
      [icon]="button.icon"
      [contextMenu]="button.contextMenu"
      [tooltip]="
        (trainButton.menuOpened$ | async) === false && !hasButtonWithMenuOpened
          ? button.tooltip
          : undefined
      "
      [progress]="button.progress"
    ></app-train-button>
  </ng-container>
</div>
