<div
  class="bottom-sheet-container validate"
  [ngClass]="{ handset: isHandset$ | async }"
  *ngIf="{ answer: (answer$ | async) ?? '', success: (success$ | async) ?? false } as result"
>
  <button
    mat-stroked-button
    color="accent"
    class="skip-button"
    (click)="showResult(result.success, result.answer)"
  >
    {{ 'bottom-sheet.validate.skip-button' | translate }}
  </button>

  <button
    mat-raised-button
    color="primary"
    class="validate-button"
    (click)="showResult(result.success, result.answer)"
  >
    {{ 'bottom-sheet.validate.validate-button' | translate }}
  </button>
</div>
