
@use '@angular/material' as mat;
@import "../variables.scss";


.mat-bottom-sheet-container.step-result {
  padding: 24px;
  min-width: 100vw;
}


@mixin bottom-sheet-theme($theme) {
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);


  .mat-bottom-sheet-container.step-result {

    &.failure {
      background-color: mat.get-color-from-palette($warn, 200);
      color: mat.get-color-from-palette($warn, 800);

      .mat-raised-button {
        background-color: mat.get-color-from-palette($warn, 800);
        color: mat.get-color-from-palette($warn, 200);
      }
    }

    &.success {
      background-color: mat.get-color-from-palette($primary, 200);
      color: mat.get-color-from-palette($primary, 800);

      .mat-raised-button {
        background-color: mat.get-color-from-palette($primary, 800);
        color: mat.get-color-from-palette($primary, 200);
      }
    }
  }
}
