@use 'sass:map';
@use '@angular/material' as mat;

.mat-form-field.mat-form-field-appearance-outline {
  .mat-form-field-wrapper {
    padding-bottom: 1.25em;
  }

  .mat-form-field-outline-start,
  .mat-form-field-outline-gap,
  .mat-form-field-outline-end {
    border-width: 2px;
  }

  .mat-form-field-outline-start {
    border-radius: 12px 0 0 12px;
    min-width: 12px;
  }

  .mat-form-field-outline-end {
    border-radius: 0 12px 12px 0;
  }

  .mat-form-field-infix {
    padding: 0.625em 0 1.125em 0;
  }

  .mat-form-field-flex {
    padding: 0 1em 0 1em;
  }

  .mat-form-field-subscript-wrapper {
    margin-top: 0.2em;

    .mat-error {
      font-size: 125%;
    }
  }

  input {
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
  }
}

@mixin form-field-theme($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map-get($theme, primary);

  .mat-form-field.mat-form-field-appearance-outline:not(.mat-form-field-invalid) {
    &:hover .mat-form-field-outline-thick {
      color: mat.get-color-from-palette($primary, 900);
    }

    &.mat-focused .mat-form-field-outline-thick {
      color: mat.get-color-from-palette($primary, 500);
    }
  }
}
