<form [formGroup]="form" (ngSubmit)="save()" *ngrxLet="statusChanges$; let formStatus">
  <mat-form-field appearance="outline">
    <mat-label>Nom d'utilisateur</mat-label>
    <input matInput type="text" formControlName="username" />

    <mat-spinner matSuffix *ngIf="formStatus === 'PENDING'" diameter="20"></mat-spinner>

    <mat-error *ngIf="form.get('username')?.hasError('required')">
      {{ 'profile-edit.username.errors.required' | translate }}
    </mat-error>
    <mat-error *ngIf="form.get('username')?.hasError('uniqueUsername')">
      {{ 'profile-edit.username.errors.unique' | translate }}
    </mat-error>
  </mat-form-field>

  <div class="form-actions">
    <button mat-button type="button" (click)="cancel()" [disabled]="form.pristine">Annuler</button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="form.pristine || form.invalid || formStatus === 'PENDING'"
    >
      Enregister
    </button>
  </div>
</form>
