@use 'sass:map';
@use '@angular/material' as mat;

@mixin training-toolbar-links-theme($theme) {
  $config: mat.get-color-config($theme);
  $primary: map.get($config, primary);

  app-training-toolbar-links {
    .mat-button.active span {
      color: mat.get-color-from-palette($primary, 500);
    }
  }
}
