@use 'sass:map';
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-legacy-component-typographies();
@include mat.legacy-core();


@font-face {
  font-family: 'dzd-round';
  font-weight: 400;
  font-style: normal;
  src: url("./assets/fonts/dzd-round-regular.woff2") format('woff2');
}

@font-face {
  font-family: 'dzd-round';
  font-weight: bold;
  font-style: normal;
  src: url("./assets/fonts/dzd-round-bold.woff2") format('woff2');
}


$dz-dialect-typography: mat.define-legacy-typography-config(
  $font-family: 'dzd-round',
);

@include mat.legacy-typography-hierarchy($dz-dialect-typography);


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$dz-dialect-app-primary: mat.define-palette(mat.$light-green-palette, 200, 100, 400);
$dz-dialect-app-accent: mat.define-palette(mat.$red-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$dz-dialect-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$dz-dialect-app-theme: mat.define-light-theme((color: (primary: $dz-dialect-app-primary,
    accent: $dz-dialect-app-accent,
    warn: $dz-dialect-app-warn,
  ),
  typography: $dz-dialect-typography,
));

$dz-dialect-app-theme: map.set($dz-dialect-app-theme, color, background, card, #ffffff);
$dz-dialect-app-theme: map.set($dz-dialect-app-theme, color, background, app-bar, #ffffff);
$dz-dialect-app-theme: map.set($dz-dialect-app-theme, color, background, background, #ffffff);
$dz-dialect-app-theme: map.set($dz-dialect-app-theme, color, background, dialog, #ffffff);


@include mat.all-legacy-component-themes($dz-dialect-app-theme);


/* You can add global styles to this file, and also import other style files */
/* material components */
@import "./assets/styles/material/bottom-sheet.scss";
@import "./assets/styles/material/overlay.scss";
@import "./assets/styles/material/dialog.scss";
@import "./assets/styles/material/menu.scss";

/* core components */
@import "app/core/layout/app-layout-component.theme.scss";
@import "app/core/layout/components/layout-sidenav/layout-sidenav-component.theme.scss";
@import "app/core/layout/components/layout-bottom-tabs/layout-bottom-tabs-component.theme.scss";

/* business components */
@import "app/shared/business/exam/components/exam-question/exam-question-component.theme.scss";
@import "app/shared/business/exam/components/exam-response/exam-response-component.theme.scss";
@import "app/shared/business/translation-bloc/translation-content/translation-content-component.theme.scss";
@import "app/shared/business/translation-bloc/translation-bloc-component.theme.scss";
@import "app/shared/business/exam/components/exam-actions/exam-actions-component.theme.scss";

/* design system */
@import "app/shared/design-system/card/card-component.theme.scss";
@import "app/shared/design-system/tabs/tabs-component.theme.scss";
@import "app/shared/design-system/sidenav/sidenav-component.theme.scss";

/* pages */
@import "app/pages/learn/learn-page.theme.scss";
@import "app/pages/sign-in/sign-in-page.theme.scss";
@import "app/pages/settings/pages/profile/components/profile-picture-upload-dialog/profile-picture-upload-dialog-component.theme.scss";
@import "app/pages/settings/settings-page.theme.scss";
@import "app/pages/overview/components/overview/overview-component.theme.scss";
@import "app/pages/overview/components/presentation-result/presentation-result-component.theme.scss";

/* material theme */
@include bottom-sheet-theme($dz-dialect-app-theme);

/* component theme */
@include app-layout-theme($dz-dialect-app-theme);
@include app-layout-sidenav-theme($dz-dialect-app-theme);
@include layout-bottom-tabs-theme($dz-dialect-app-theme);
@include exam-question-theme($dz-dialect-app-theme);
@include exam-response-theme($dz-dialect-app-theme);
@include exam-actions-component-theme($dz-dialect-app-theme);
@include presentation-result-theme($dz-dialect-app-theme);
@include learn-theme($dz-dialect-app-theme);
@include translation-content-theme($dz-dialect-app-theme);
@include sign-in-theme($dz-dialect-app-theme);
@include card-theme($dz-dialect-app-theme);
@include app-tabs-theme($dz-dialect-app-theme);
@include profile-picture-upload-dialog-theme($dz-dialect-app-theme);
@include profile-page-theme($dz-dialect-app-theme);
@include sidenav-theme($dz-dialect-app-theme);
@include translation-bloc-theme($dz-dialect-app-theme);
@include overview-component-theme($dz-dialect-app-theme);

.darkMode {
  // Include theme styles for core and each component used in your app.
  // Alternatively, you can import and @include the theme mixins for each component
  // that you are using.
  $dz-dialect-dark-app-theme: mat.define-dark-theme((color: (primary: $dz-dialect-app-primary,
      accent: $dz-dialect-app-accent,
      warn: $dz-dialect-app-warn,
    ),
    typography: $dz-dialect-typography,
  ));

  $dz-dialect-dark-app-theme: map.set($dz-dialect-dark-app-theme, color, background, card, #292a2d);
  $dz-dialect-dark-app-theme: map.set($dz-dialect-dark-app-theme, color, background, app-bar, #292a2d);
  $dz-dialect-dark-app-theme: map.set($dz-dialect-dark-app-theme, color, background, background, rgb(32, 33, 36));
  $dz-dialect-dark-app-theme: map.set($dz-dialect-dark-app-theme, color, background, dialog, #292a2d);

  @include mat.all-legacy-component-colors($dz-dialect-dark-app-theme);

  /* material theme */
  @include bottom-sheet-theme($dz-dialect-dark-app-theme);

  /* component theme */
  @include app-layout-theme($dz-dialect-dark-app-theme);
  @include app-layout-sidenav-theme($dz-dialect-dark-app-theme);
  @include layout-bottom-tabs-theme($dz-dialect-dark-app-theme);
  @include exam-question-theme($dz-dialect-dark-app-theme);
  @include exam-response-theme($dz-dialect-dark-app-theme);
  @include exam-actions-component-theme($dz-dialect-dark-app-theme);
  @include presentation-result-theme($dz-dialect-dark-app-theme);
  @include learn-theme($dz-dialect-dark-app-theme);
  @include translation-content-theme($dz-dialect-dark-app-theme);
  @include sign-in-theme($dz-dialect-dark-app-theme);
  @include card-theme($dz-dialect-dark-app-theme);
  @include profile-picture-upload-dialog-theme($dz-dialect-dark-app-theme);
  @include profile-page-theme($dz-dialect-dark-app-theme);
  @include app-tabs-theme($dz-dialect-dark-app-theme);
  @include sidenav-theme($dz-dialect-dark-app-theme);
  @include translation-bloc-theme($dz-dialect-dark-app-theme);
  @include overview-component-theme($dz-dialect-dark-app-theme);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  touch-action: pan-x pan-y;
}
