// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$dz-dialect-app-primary: mat.define-palette(mat.$light-green-palette, 200, 100, 400);
$dz-dialect-app-accent: mat.define-palette(mat.$red-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$dz-dialect-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$dz-dialect-app-theme: mat.define-light-theme(
  (
    color: (
      primary: $dz-dialect-app-primary,
      accent: $dz-dialect-app-accent,
      warn: $dz-dialect-app-warn,
    ),
  )
);

@include mat.all-component-themes($dz-dialect-app-theme);


/* You can add global styles to this file, and also import other style files */
/* material components */
@import "./assets/styles/material/bottom-sheet.scss";
@import "./assets/styles/material/overlay.scss";

/* app components */
@import "app/pages/training/components/training-home/training-home-component.theme.scss";
@import "app/pages/training/components/training-result/training-result-component.theme.scss";
@import "app/pages/training/components/training-question/training-question.component.scss";
@import "app/pages/training/components/training-response/training-response.component.scss";
@import "app/pages/keyword/keyword.component.scss";
@import "app/pages/random/random.component.scss";
@import "app/shared/business/translation-bloc/translation-content/translation-content-component.theme.scss";

/* material theme */
@include bottom-sheet-theme($dz-dialect-app-theme);

/* component theme */
@include training-home-theme($dz-dialect-app-theme);
@include training-result-theme($dz-dialect-app-theme);
@include training-question-theme($dz-dialect-app-theme);
@include training-response-theme($dz-dialect-app-theme);
@include keyword-theme($dz-dialect-app-theme);
@include random-theme($dz-dialect-app-theme);
@include translation-content-theme($dz-dialect-app-theme);

.darkMode {
  // Include theme styles for core and each component used in your app.
  // Alternatively, you can import and @include the theme mixins for each component
  // that you are using.
  $dz-dialect-dark-app-theme: mat.define-dark-theme(
    (
      color: (
        primary: $dz-dialect-app-primary,
        accent: $dz-dialect-app-accent,
        warn: $dz-dialect-app-warn,
      ),
    )
  );

  @include mat.all-component-colors($dz-dialect-dark-app-theme);

  /* material theme */
  @include bottom-sheet-theme($dz-dialect-dark-app-theme);

  /* component theme */
  @include training-home-theme($dz-dialect-dark-app-theme);
  @include training-result-theme($dz-dialect-dark-app-theme);
  @include training-question-theme($dz-dialect-dark-app-theme);
  @include training-response-theme($dz-dialect-dark-app-theme);
  @include keyword-theme($dz-dialect-dark-app-theme);
  @include random-theme($dz-dialect-dark-app-theme);
  @include translation-content-theme($dz-dialect-dark-app-theme);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  touch-action: pan-x pan-y;
}

