// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();


$dz-dialect-typography: mat.define-typography-config(
  $font-family: "'Google Sans', Roboto, Arial, sans-serif",
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$dz-dialect-app-primary: mat.define-palette(mat.$light-green-palette, 200, 100, 400);
$dz-dialect-app-accent: mat.define-palette(mat.$red-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$dz-dialect-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$dz-dialect-app-theme: mat.define-light-theme((color: (primary: $dz-dialect-app-primary,
        accent: $dz-dialect-app-accent,
        warn: $dz-dialect-app-warn,
      ),
      typography: $dz-dialect-typography,
    ));

@include mat.all-component-themes($dz-dialect-app-theme);


/* You can add global styles to this file, and also import other style files */
/* material components */
@import "./assets/styles/material/bottom-sheet.scss";
@import "./assets/styles/material/overlay.scss";
@import "./assets/styles/material/dialog.scss";

/* app components */
@import "app/core/layout/app-layout-component.theme.scss";
@import "app/pages/training-presentation/components/training-presentation-overview/training-presentation-overview-component.theme.scss";
@import "app/pages/training-presentation/components/training-presentation-result/training-presentation-result-component.theme.scss";
@import "app/shared/business/translation-training/components/translation-training-question/translation-training-question-component.theme.scss";
@import "app/shared/business/translation-training/components/translation-training-response/translation-training-response-component.theme.scss";
@import "app/pages/learn/components/keyword/keyword-component.theme.scss";
@import "app/pages/learn/components/random/random-component.theme.scss";
@import "app/shared/business/translation-bloc/translation-content/translation-content-component.theme.scss";
@import "app/core/layout/components/training-toolbar-top/training-toolbar-top-component.theme.scss";
@import "app/pages/sign-in/sign-in-page.theme.scss";
@import "app/pages/profile/components/profile-card/profile-card-component.theme.scss";
@import "app/pages/profile/components/profile-picture-upload-dialog/profile-picture-upload-dialog-component.theme.scss";

/* material theme */
@include bottom-sheet-theme($dz-dialect-app-theme);

/* component theme */
@include app-layout-theme($dz-dialect-app-theme);
@include training-presentation-overview-theme($dz-dialect-app-theme);
@include training-presentation-result-theme($dz-dialect-app-theme);
@include translation-training-question-theme($dz-dialect-app-theme);
@include translation-training-response-theme($dz-dialect-app-theme);
@include keyword-theme($dz-dialect-app-theme);
@include random-theme($dz-dialect-app-theme);
@include translation-content-theme($dz-dialect-app-theme);
@include training-toolbar-top-theme($dz-dialect-app-theme);
@include sign-in-theme($dz-dialect-app-theme);
@include profile-card-theme($dz-dialect-app-theme);
@include profile-picture-upload-dialog-theme($dz-dialect-app-theme);

.darkMode {
  // Include theme styles for core and each component used in your app.
  // Alternatively, you can import and @include the theme mixins for each component
  // that you are using.
  $dz-dialect-dark-app-theme: mat.define-dark-theme((color: (primary: $dz-dialect-app-primary,
        accent: $dz-dialect-app-accent,
        warn: $dz-dialect-app-warn,
      ),
      typography: $dz-dialect-typography,
    ));

  @include mat.all-component-colors($dz-dialect-dark-app-theme);

  /* material theme */
  @include bottom-sheet-theme($dz-dialect-dark-app-theme);

  /* component theme */
  @include app-layout-theme($dz-dialect-dark-app-theme);
  @include training-presentation-overview-theme($dz-dialect-dark-app-theme);
  @include training-presentation-result-theme($dz-dialect-dark-app-theme);
  @include translation-training-question-theme($dz-dialect-dark-app-theme);
  @include translation-training-response-theme($dz-dialect-dark-app-theme);
  @include keyword-theme($dz-dialect-dark-app-theme);
  @include random-theme($dz-dialect-dark-app-theme);
  @include translation-content-theme($dz-dialect-dark-app-theme);
  @include training-toolbar-top-theme($dz-dialect-dark-app-theme);
  @include sign-in-theme($dz-dialect-dark-app-theme);
  @include profile-card-theme($dz-dialect-dark-app-theme);
  @include profile-picture-upload-dialog-theme($dz-dialect-dark-app-theme);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  touch-action: pan-x pan-y;
}
