$dz-dialect-app-success-color: #58a700;
$dz-dialect-app-success-bg: #d7ffb8;

$dz-dialect-app-error-color: #ea2b2b;
$dz-dialect-app-error-bg: #ffdfe0;

$duolingo-color: #58cc02;
$duolingo-shadow-color: hsl(94, 50%, 35%);
