<mat-card *ngrxLet="isHandset$; let handset" class="mat-elevation-z0">
  <h2>{{ 'profile.profile-information.title' | translate }}</h2>
  <mat-card-subtitle>{{ 'profile.profile-information.subtitle' | translate }}</mat-card-subtitle>

  <mat-card-content>
    <app-full-line-card-button>
      <div label>{{ 'profile.profile-information.picture' | translate }}</div>
      <div value>{{ 'profile.profile-information.picture-edit' | translate }}</div>
      <img
        suffix
        [src]="information?.picture || '/assets/images/unkwown-user.jpg'"
        class="user-picture"
      />
    </app-full-line-card-button>

    <mat-divider></mat-divider>

    <app-full-line-card-button>
      <div label>{{ 'profile.profile-information.name' | translate }}</div>
      <div value>{{ information?.name }}</div>
      <mat-icon suffix>keyboard_arrow_right</mat-icon>
    </app-full-line-card-button>

    <mat-divider></mat-divider>

    <app-full-line-card-button>
      <div label>{{ 'profile.profile-information.username' | translate }}</div>
      <div value>{{ information?.username }}</div>
      <mat-icon suffix>keyboard_arrow_right</mat-icon>
    </app-full-line-card-button>

    <mat-divider></mat-divider>

    <app-full-line-card-button>
      <div label>{{ 'profile.profile-information.createdAt' | translate }}</div>
      <div value>{{ information?.createdAt | date }}</div>
      <mat-icon suffix>keyboard_arrow_right</mat-icon>
    </app-full-line-card-button>
  </mat-card-content>
</mat-card>
