<mat-toolbar *ngrxLet="isMobile$; let mobile">
  <ng-container *ngIf="mobile; else desktopToolbar">
    <div class="toolbar-top-right mobile">
      <button mat-icon-button [routerLink]="['/settings/profile']" *ngrxLet="userImage$; let image">
        <img [style.background-image]="'url(' + image + ')'" class="user-picture" />
      </button>

      <span class="title">{{ title$ | async | translate }}</span>

      <app-theme-mode-toggle></app-theme-mode-toggle>
    </div>
  </ng-container>

  <ng-template #desktopToolbar>
    <a class="logo-container" [routerLink]="['/']">
      <img src="assets/images/logo-light.svg" width="150" />
    </a>

    <div class="toolbar-top-right desktop">
      <div class="toolbar-item">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <img [src]="userImage$ | async" class="user-picture" />
        </button>
      </div>

      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/settings/profile']">
          <mat-icon>face</mat-icon>
          <span>Mon compte</span>
        </button>
        <button mat-menu-item appStopClickPropagation>
          <app-theme-mode-toggle [icon]="false"></app-theme-mode-toggle>
        </button>
        <button mat-menu-item (click)="signOut()" *ngIf="isAuthenticated$ | async">
          <mat-icon>logout</mat-icon>
          Déconnexion
        </button>
      </mat-menu>
    </div>
  </ng-template>
</mat-toolbar>

<mat-divider *ngIf="(isMobile$ | async) === false"></mat-divider>
