:host {
  display: grid;
  grid-template-rows: 1px auto;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  .mat-tab-nav-bar ::ng-deep {
    border-bottom: none;

    .mat-tab-links {
      height: 100%;
      justify-content: space-around;
      align-items: center;

      .mat-tab-link {
        height: 50px;
        width: 50px;
        padding: 0;
        min-width: 40px;
        border-radius: 8px;
        padding: 4px;
      }

      .mat-icon {
        height: 50px;
        width: 50px;
      }
    }

    .mat-ink-bar {
      display: none;
    }
  }
}

.mat-tab-nav-bar  {
  height: 100%;
  width: 100%;
}


.mat-toolbar {
  height: 100%;
  padding: 0 16px 4px 16px;
}

