<ng-container *ngrxLet="isHandset$; let handset">
  <div>
    <div mat-dialog-title>
      <button mat-icon-button class="close-button" mat-dialog-close tabindex="-1">
        <mat-icon>close</mat-icon>
      </button>
      <h2 [ngClass]="{ handset }">
        {{ 'profile.profile-picture-upload-dialog.title' | translate }}
      </h2>
    </div>

    <h4 class="subtitle" *ngIf="handset">
      {{ 'profile.profile-picture-upload-dialog.subtitle' | translate }}
    </h4>
  </div>

  <ngx-dropzone
    mat-dialog-content
    [ngClass]="{ handset }"
    [accept]="'image/*'"
    [multiple]="false"
    *ngrxLet="uploading$; let uploading"
    (change)="onSelect($event)"
  >
    <div class="user-picture-container" [ngClass]="{ uploading }">
      <img [src]="picture$ | async" class="user-picture" height="200px" width="200px" />
      <mat-spinner *ngIf="uploading" [diameter]="200" [strokeWidth]="6"></mat-spinner>
    </div>

    <div class="upload-options" *ngIf="!handset">
      <div class="drop-label">
        {{ 'profile.profile-picture-upload-dialog.drop-picture-here' | translate }}
      </div>
      <div class="or-label">
        {{ 'profile.profile-picture-upload-dialog.or' | translate }}
      </div>

      <button mat-stroked-button class="upload-from-device-button">
        <mat-icon inline="true">computer</mat-icon>
        {{ 'profile.profile-picture-upload-dialog.import-from-device' | translate }}
      </button>
    </div>

    <div class="upload-options" *ngIf="handset">
      <button mat-flat-button class="upload-from-device-button" color="primary">
        <mat-icon inline="true">add_a_photo</mat-icon>
        {{ 'profile.profile-picture-upload-dialog.add-picture' | translate }}
      </button>
    </div>
  </ngx-dropzone>

  <div mat-dialog-actions>
    <button mat-button *ngIf="uploaded" class="cancel-button" (click)="cancel()">
      {{ 'profile.profile-picture-upload-dialog.cancel' | translate }}
    </button>

    <button mat-flat-button *ngIf="uploaded" color="primary" class="save-button" (click)="save()">
      <span *ngIf="(saving$ | async) === false">{{
        'profile.profile-picture-upload-dialog.save' | translate
      }}</span>
      <mat-spinner *ngIf="(saving$ | async) === true" [diameter]="20"></mat-spinner>
    </button>
  </div>
</ng-container>
