.mat-dialog-title {
  display: flex;

  h2 {
    margin-bottom: 0;
    margin-left: 12px;
    line-height: 40px;
    font-size: 1.125rem;
    letter-spacing: 0;
    font-weight: 400;
  }
}

.mat-dialog-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;
  text-align: center;
  max-height: 50vh;
  border: none;
  margin: 0;
  padding: 0;

  &.handset {
    max-height: 65vh;
  }
}

.mat-dialog-actions {
  justify-content: flex-end;
  padding: 8px 16px;
}

.ngx-dz-hovered {
  background-color: rgba(23,78,166,.12);
  border: 3px solid rgb(26,115,232);
  margin: -3px;

}

.user-picture {
  height: 150px;
  border-radius: 50%;
  margin-bottom: 80px;
}

.drop-picture-label {
  line-height: 2rem;
  font-size: 1.5rem;
  letter-spacing: 0;
  font-weight: 400;
}

.drop-picture-alternative-label {
  line-height: 1.5rem;
  font-size: 1rem;
  letter-spacing: .00625em;
  font-weight: 400;
  margin: 8px 0 4px;
}


.mat-stroked-button {
  margin: 6px 0;

  .mat-icon{
    margin-right: 8px;
  }
}
