@mixin profile-picture-upload-dialog-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  $primary: map-get($theme, primary);

  app-profile-picture-upload-dialog {

    .mat-dialog-content {
      background-color: mat.get-color-from-palette($background, card);
    }

    .ngx-dz-hovered {
      background-color: rgba(23,78,166,.12);
      border-color:  rgb(26,115,232);
    }

    .upload-options {
      color: mat.get-color-from-palette($foreground, text);
    }

    .user-picture-container .user-picture {
      box-shadow: 0px 0px 0px 2px mat.get-color-from-palette($background, divider);
    }

  }
}
