:host {
  .mat-form-field-appearance-outline {
    font-size: 0.9rem;

    ::ng-deep {
      .mat-form-field-flex {
        height: 2.5rem;
      }

      .mat-form-field-wrapper {
        padding-bottom: 0;
      }

      .mat-form-field-infix {
        padding: 0.125rem 0;
        width: 100%;
      }

      .mat-select-arrow-wrapper {
        transform: none;
      }
    }
  }

  .handset ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: transparent;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr 3rem 1fr;
  place-items: center;

  .mat-icon {
    justify-self: center;
  }
}

.mat-form-field {
  width: 100%;
}
