:host {
  width: 100%;
  position: relative;
  top: 0;

  .mat-nav-list ::ng-deep .mat-list-item[aria-expanded='true'] {
    background: rgba(0, 0, 0, 0.04);
  }

  .mat-nav-list ::ng-deep .mat-list-item-content {
    padding: 0 8px;

    .mat-ripple {
      border-radius: 12px;
    }
  }

  .mat-sidenav ::ng-deep .mat-drawer-inner-container {
    display: flex;
  }
}

.mat-sidenav {
  background-color: transparent;

  .mat-divider {
    border-right-width: 2px;
  }
}

.mat-sidenav-container {
  display: flex;
  flex: 1;
}

.mat-sidenav-content {
  overflow: auto;
  width: 100%;

  .app-content {
    margin: 0 auto;
    max-width: 1056px;
  }
}

.mat-drawer-side {
  border: none;
  position: fixed;
  top: 0;
}

.mat-nav-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 16px;

  .logo-container {
    display: flex;
    height: 30px;
    padding: 32px 0 22px 16px;
    box-sizing: content-box;
  }

  .mat-list-item {
    border-radius: 12px;
  }

  .mat-list-item {
    height: 48px;
    min-width: 48px;

    &:not(.link-active) {
      border: 2px solid transparent;

      .item-label {
        opacity: 0.67;
      }
    }
  }
}

.item-label {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
}

.mat-icon {
  height: 32px;
  width: 32px;
  margin-right: 20px;
}

.mat-nav-list.small-screen {
  margin-right: 2px;

  .logo-container {
    padding: 36px 0 26px 10px;
  }

  .mat-list-item .mat-icon {
    margin: 0 auto;
  }
}

.mat-nav-list:not(.small-screen) {
  .mat-list-item {
    width: 218px;
  }

  .mat-list-item .mat-icon {
    margin-left: 6px;
  }
}
